

.outer-con-card{
	border:2px solid lightgray;
	width:330px;
	border-radius: 12px;
	margin: 40px auto;
	/* text-align: center; */
	
}
.offer{
	border:2px solid lightgray;
	width:330px;
	background-color: black;
	color:white;
	border-radius: 12px;
	margin: 40px auto;
	text-align: center;
	position: sticky;
	top:0;
	/* right:0; */
}
.icon-size{
	font-size:20px;
}

.card-img{
		/* the card image size depend on parent element which is 100% of 330px width of parent element */
	width:100%;
	border-radius: 12px 12px 0px 0px;
}
.content{
	padding: 0px 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
.btn{
	padding:10px 40px;
	cursor: help;
	background-color: tomato;
	color: black;
	margin:10px;
	border-radius: 14px;
}
.btn2{
	padding: 10px 24px;
	position:fixed;
	bottom:0;
	right:0;
	margin: 10px 40px;
	background-color: rgb(66, 240, 66);
	border-radius: 14px;
	color:black;
}
.try-relative{
	position: relative;
}
.some-trail{
	padding:0px 30px 0px 30px;
	position: absolute;
	font-size: 14px;
	background-color: white;
	color: black;
	border-radius: 14px;
	margin:0px 10px 30px 20px;
	bottom:0;

}